
:root {
    --gradient-color: linear-gradient(90deg, #333232, #626262);

}

img {
    display: block;
    width: 100%;
}

/* Font class */
.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #CEB7B3
}

main {
    background-color: #CEB7B3;
}

/* Added background gradient color to everything in the header */
main header {
    background: var(--gradient-color);
}

main header>h1 {
    text-align: center;
    font-size: 50px;
    margin: 0px 20px 20px 20px;
    background: var(--gradient-color);
}

main header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    background: var(--gradient-color);

}

/* Navigation links will grow/shrink depending on the view port width. Centered the text in the nav links. */
main header nav ul li {
    text-align: center;
    flex: 1 1 200px;
    border: 5px ridge #F7B2AD;
    box-sizing: border-box;
    background: var(--gradient-color);
    font-size: 25px;
}

main header nav ul li a {
    color: #CEB7B3;
}

/* CSS for the About Me section  */
.about-me,
.work-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--gradient-color);
    border: 10px ridge #F7B2AD;
    box-shadow: 10px 10px 5px #333232;
    width: 80%;
    margin: auto;
    padding: 10px;
    position: relative;
}



/* This will make the image not stretch and stay center. */
.about-me img {
    border: 10px ridge #F7B2AD;
    box-shadow: 10px 10px 5px #333232;
    margin: auto;
    box-sizing: border-box;
    width: 50%;
    min-width: 430px;
    max-width: 579px;
    max-height: 772px;
}
/* Adds separation to the floating headings before each section. */
#about-me,
#work-experience{
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding: 15px;
    background: var(--gradient-color);
    border: 10px ridge #F7B2AD;
    box-shadow: 10px 10px 5px #333232;
    margin: 50px;
}

h3 {
    background: var(--gradient-color);
    position: absolute;
    border: 10px ridge #F7B2AD;
    top: -65px;
    font-size: 30px;
    box-shadow: 10px 1px 5px #333232;
}

/* Made the text stay when border shrinks */
/* Centered the text */
.about-me p,
.work-experience p {
    width: 700px;
    box-sizing: border-box;
    font-size: 40px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    background-color: transparent;
}

/* This will make the image not stretch and look bad. */

/* Start of the projects section */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects article{
    display: flex;
    flex-basis:25%;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background: var(--gradient-color);
    border: 10px ridge #F7B2AD;
    box-shadow: 10px 10px 5px #333232;
    margin: 50px 10px;
    min-width:450px;
}
.projects article:first-child{
    flex-basis: 85%;
}

.projects article a {
    display: block;
    width: 10px;
    flex-basis: 100%;
}


.projects article a img {
    flex-basis: 50%;
    padding: 15px;
}


.projects article p {
    font-size: 25px;
    padding: 15px;
}



.work-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    background: var(--gradient-color);
    border: 10px ridge #F7B2AD;
    box-shadow: 10px 10px 5px #333232;
    margin: 50px 50px 0px 50px;
}

h4,
footer p {
    background-color: transparent;
}


/* Navigation link section. */