* {
    color: #CEB7B3;
    background-color: #CEB7B3;
}

:root {
    --gradient-color: linear-gradient(90deg, #333232, #626262);

}

/* Font class */
.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
/* Added background gradient color to everything in the header */
main header {
    background: var(--gradient-color);
}

main header>h1 {
    text-align: center;
    font-size: 50px;
    margin: 0px 20px 20px 20px;
    background: var(--gradient-color);
}

main header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    background: var(--gradient-color);

}
/* Navigation links will grow/shrink depending on the view port width. Centered the text in the nav links. */
main header nav ul li {
    text-align: center;
    flex: 1 1 200px;
    border: 5px ridge #F7B2AD;
    box-sizing: border-box;
    background: var(--gradient-color);
    font-size: 25px;
}
/* CSS for the About Me section  */
.about-me{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:space-evenly;
}
/* applies borders to everything in the About Me section. */
h2,
.about-me p,
img{
    border: 10px ridge #F7B2AD;
    box-shadow: 10px 10px 5px #333232;
    margin: 20px;
    
}

h2{
    text-align: center;
    font-size: 40px;
    padding: 15px;
    background: var(--gradient-color);
}
/* Made the text stay when border shrinks */
/* Centered the text */
.about-me p{
    width:700px;
    box-sizing: border-box;
    font-size: 40px;
    overflow: hidden;
    padding: 15px;
    background: var(--gradient-color);
    text-align: center;

}
/* This will make the image not stretch and look bad. */
.about-me img {
    
    box-sizing: border-box;
    width:50%;
    min-width: 430px;
    max-width: 579px;
    max-height: 772px;
}
.work img{
    width:50%;
}
